*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0 auto;
  color: #ffffff;
  background-color: #28282b;
}

p {
  margin: 0;
}
